Repository dsm23/github-search-from-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

test(favicon): add favicon playwright test
  playwright-tests/favicon.spec.ts
Due: eslint, prettier --check

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: prettier --check

refactor(git hooks): migrate from husky to lefthook
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .gitignore
  .husky/commit-msg
  .husky/install.js
  .husky/pre-commit
  .lintstagedrc
  Dockerfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(storybook): remove vitest annotations for storybook
  .storybook/vitest.setup.ts
  vitest.config.ts
Due: eslint, prettier --check

refactor(lint): migrate from eslint to oxlint
  .eslintcache
  .gitignore
  .vscode/extensions.json
  eslint.config.js
  oxlint.config.ts
  package.json
  playwright.config.ts
  playwright.prod.config.ts
  pnpm-lock.yaml
  renovate.json
  src/components/GoBack.tsx
  src/containers/Layout.tsx
  src/main.tsx
  vite.config.ts
Due: eslint, prettier --check

chore(knip): add knip
  .github/workflows/lint.yml
  knip.config.ts
  package.json
  pnpm-lock.yaml
  src/actions/index.ts
  src/app/hooks.ts
  src/app/store.ts
  src/components/anchor/atoms/component.tsx
  src/components/anchor/fuzz.test.tsx
  src/components/anchor/test.tsx
  src/components/button/fuzz.test.tsx
  src/components/button/test.tsx
  src/features/error-message/slice.ts
  src/reducers/index.ts
  test-utils/render.ts
  tsconfig.app.json
Due: eslint, prettier --check

refactor(ui): migrate from radix-ui to base-ui
  components.json
  package.json
  pnpm-lock.yaml
  src/components/Explore.tsx
  src/components/Input.tsx
  src/components/Label.tsx
  src/components/anchor/atoms/component.tsx
  src/components/anchor/fuzz.test.tsx
  src/components/anchor/test.tsx
  src/components/button/atoms/component.tsx
  src/components/button/atoms/variants.ts
  src/components/button/index.ts
  src/components/ui/button/atoms/component.tsx
  src/components/ui/button/atoms/variants.ts
  src/components/ui/button/fuzz.test.tsx
  src/components/ui/button/index.stories.tsx
  src/components/ui/button/index.ts
  src/components/ui/button/test.tsx
  src/components/ui/input/index.tsx
  src/components/ui/label/index.tsx
  src/containers/RepoPage.tsx
  src/containers/UserPage.tsx
  src/index.css
Due: eslint, prettier --check, stylelint --allow-empty-input

chore(deps): remove stylelint-selector-bem-pattern
  .stylelintignore
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint, prettier --check

ci(token permissions): stricter gh actions token permissions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(renovate): run renovate check through docker instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

chore(deps): update npm dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

perf(docker): add hardened nginx image
  Dockerfile
  renovate.json
Due: prettier --check

ci(unit testing): add sharding
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update dependency oxlint to v1.62.0
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(knip): update config
  knip.config.ts
Due: eslint, prettier --check

ci(renovate): update config check pipeline
  .github/workflows/renovate.yml
Due: prettier --check

ci(renovate): override docker datasource
  renovate.json
Due: prettier --check

chore(deps): update dependency oxlint to v1.63.0
  .storybook/preview.ts
  package.json
  playwright-tests/favicon.spec.ts
  playwright-tests/home.spec.ts
  pnpm-lock.yaml
  stylelint.config.js
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.test.json
Due: eslint, prettier --check

chore(deps): update pnpm to v11
  .dockerignore
  .nvmrc
  Dockerfile
  package.json
  pnpm-workspace.yaml
Due: prettier --check

chore(deps): update playwright monorepo to v1.60.0
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): update dependency oxlint to v1.65.0
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

ci(renovate): simplify to daily updates
  renovate.json
Due: prettier --check

ci(renovate): playwright group for browser updates
  renovate.json
Due: prettier --check

ci(renovate): separate major updates from group
  renovate.json
Due: prettier --check

ci(ubuntu): return to ubuntu-latest
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: prettier --check

ci(renovate): remove non-major updates from merge queue
  .mergify.yml
  renovate.json
Due: prettier --check

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.css)) or (any of: **/*.{md,json,yml})
  stylelint --allow-empty-input: any of: **/*.css
