Repository dsm23/github-search-from-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx}": ["eslint", "prettier --check"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --check"],
  "**/*.{md,json,yml}": ["prettier --check"]
}

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

test(unit): add unit tests to button and anchor link
  .github/workflows/unit-testing.yml
  .gitignore
  .mergify.yml
  package.json
  pnpm-lock.yaml
  src/components/anchor/test.tsx
  src/components/button/test.tsx
  test-utils/index.ts
  test-utils/vitest.setup.ts
  tsconfig.app.json
  tsconfig.node.json
  vitest.config.ts
Due: eslint, prettier --check

test(unit): add fuzz tests to button and anchor
  package.json
  pnpm-lock.yaml
  src/components/anchor/fuzz.test.tsx
  src/components/anchor/test.tsx
  src/components/button/fuzz.test.tsx
Due: eslint, prettier --check

chore: add storybook
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/button/index.stories.tsx
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  tsconfig.test.json
  vitest.config.ts
  vitest.shims.d.ts
Due: eslint, prettier --check

chore(eslint): remove unused config
  .eslintrc.cjs
Due: none

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

ci(docker): simplify image name
  .github/workflows/docker.yml
Due: prettier --check

chore(vite plugin): switch react plugin from swc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier --check

chore(commitizen): remove commitizen
  .czrc
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

ci(renovate): add prettier custom manager
  prettier.config.js
  renovate.json
Due: eslint, prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): remove minimumReleaseAgeNpm
  renovate.json
Due: prettier --check

chore(deps): update vitest to v4
  .github/workflows/unit-testing.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint, prettier --check

chore(deps): update npm dependencies
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(playwright): use less privileged user
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: prettier --check

chore(vitest): remove unused shim declaration ts file
  vitest.shims.d.ts
Due: eslint, prettier --check

ci(renovate): add storybook monorepo to config
  renovate.json
Due: prettier --check

chore(prettier): simplify .prettierignore
  .prettierignore
Due: none

chore(deps): update dependency prettier to v3.7.1
  package.json
  pnpm-lock.yaml
  src/components/anchor/atoms/component.tsx
Due: eslint, prettier --check

chore(deps): update dependency vite-tsconfig-paths to v6
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier --check

chore(eslint): update config and add mdx
  .husky/install.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/middleware/api.ts
Due: eslint, prettier --check

ci(playwright): update config and pipeline with new patterns
  .github/workflows/playwright.yml
  package.json
  playwright.prod.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(vite): remove vite-env.d.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint, prettier --check

chore(pnpm): mitigate supply chain attacks
  pnpm-workspace.yaml
Due: none

chore(pnpm): remove trustPolicy
  pnpm-workspace.yaml
Due: none

chore(docker): ignore tests in docker
  .dockerignore
Due: none

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: prettier --check

ci(zizmor): add zizmor gh action
  .github/workflows/zizmor.yml
Due: prettier --check

ci(pr-title): remove pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(oxfmt): migrate from prettier to oxfmt
  .github/workflows/format.yml
  .gitignore
  .lintstagedrc
  .oxfmtrc.json
  .prettierignore
  .vscode/extensions.json
  netlify.toml
  package.json
  pnpm-lock.yaml
  prettier.config.js
  renovate.json
  src/app/schemas.ts
  src/app/store.ts
  src/components/button/index.stories.tsx
  src/containers/UserPage.tsx
  test-utils/index.ts
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier --check

chore(oxfmt): add stylesheet to oxfmt sortTailwindcss config
  .oxfmtrc.json
  src/components/Input.tsx
  src/components/anchor/atoms/variants.ts
  src/components/button/atoms/variants.ts
Due: eslint, prettier --check

ci(renovate): add minimum 3 days release on key datasources
  renovate.json
Due: prettier --check

ci(mergify): add merge queue
  .mergify.yml
Due: prettier --check

ci(renovate): remove rebase for patch
  renovate.json
Due: prettier --check

chore(deps): update storybook monorepo to v10.2.19
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): update vite packages
  package.json
  pnpm-lock.yaml
  src/app/store.ts
  vite.config.ts
Due: eslint, prettier --check

chore(ts): remove baseUrl from configs
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.test.json
Due: prettier --check
