Repository dsm23/github-search-from-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

chore(prettier): switch prettier config to js
  .prettier.config.js
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(prettier): prettier import statements
  .prettier.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/App.tsx
  src/app/schemas.ts
  src/app/store.ts
  src/components/Explore.tsx
  src/components/Label.tsx
  src/components/anchor/atoms/component.tsx
  src/components/button/atoms/component.tsx
  src/containers/DevTools.tsx
  src/containers/RepoPage.tsx
  src/containers/UserPage.tsx
  src/main.tsx
  src/middleware/api.ts
  src/reducers/index.ts
  vite.config.ts
Due: eslint, prettier --check

chore(stylelint): add stylelint
  .gitignore
  .lintstagedrc
  .stylelintignore
  package.json
  pnpm-lock.yaml
  src/index.css
  stylelint.config.js
Due: eslint, prettier --check

chore(deps): update third-party dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(eslint): add vite eslint plugin
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier --check

chore(react-router): update to react-router v7
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(tsconfigPaths): add vite-tsconfig-paths
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier --check

chore(node version): update node version -> v22.14
  .nvmrc
Due: none

chore(deps): pin third-party dependencies
  .github/workflows/playwright.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(docker): add docker pipeline
  .dockerignore
  .github/workflows/docker.yml
  .mergify.yml
  .vscode/extensions.json
  Dockerfile
  nginx/nginx.conf
Due: prettier --check

ci(docker): corepack is fixed
  Dockerfile
Due: none

ci(pr-title): add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

ci(zizmor): add zizmor pipeline
  .github/workflows/zizmor.yml
  .mergify.yml
Due: prettier --check

chore(deps): update pnpm deps
  .github/workflows/playwright.yml
  package.json
  pnpm-lock.yaml
  src/components/List.tsx
Due: eslint, prettier --check

chore(pnpm): update to v10 and use checksum
  package.json
Due: prettier --check

chore(tailwind): upgrade tailwind to v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/Input.tsx
  src/components/Label.tsx
  src/components/anchor/atoms/variants.ts
  src/components/button/atoms/component.tsx
  src/components/button/atoms/variants.ts
  src/index.css
  stylelint.config.js
  tailwind.config.ts
  vite.config.ts
Due: eslint, prettier --check

chore(eslint): update eslint deps
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.json
Due: eslint, prettier --check

ci(renovate): add config
  renovate.json
Due: prettier --check

ci(gh actions): pin gh actions deps and use digests
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: prettier --check

ci(git checkout): add persist-credentials: false
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: prettier --check

ci(deps-review): comment summary in pr
  .github/workflows/dependency-review.yml
Due: prettier --check

ci(mergify): add renovate as author in config
  .mergify.yml
Due: prettier --check

chore(ts-reset): add @total-typescript/ts-reset
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

chore(codeql): fix incorrect version label
  .github/workflows/codeql.yml
Due: prettier --check

ci(docker): correct image name
  .github/workflows/docker.yml
Due: prettier --check

ci(node setup): update node-based gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: prettier --check

ci(playwright): update playwright-tests status check
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

chore(deps): update node to v24.0.1
  .nvmrc
  Dockerfile
Due: none

chore(vscode): update recommended extensions
  .vscode/extensions.json
Due: prettier --check

ci(permissions): add gh actions permissions
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: prettier --check

chore(types): ad typed-query-selector
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

chore(codeowners): add CODEOWNERS
  .github/CODEOWNERS
  .vscode/extensions.json
Due: prettier --check

ci(deps-review): update deps-review
  .github/workflows/dependency-review.yml
Due: prettier --check

docs(codeowners): add renovatebot
  .github/CODEOWNERS
Due: none

docs(codeowners): revert to single human
  .github/CODEOWNERS
Due: none

docs(security): add security policy
  .github/SECURITY.md
Due: prettier --check

ci(playwright): remove reference to ubuntu noble
  .github/workflows/playwright.yml
Due: prettier --check

chore(lint): add npm-run-all2 for linting
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): update nginx to v1.28
  Dockerfile
Due: none

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,md,json,yml})
